a, body, div, h1, h2, h3, h5, h6, html, img, p, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: perspective(1px) scale3d(.3, .3, .3)
  }
  20% {
    transform: perspective(1px) scale3d(1.1, 1.1, 1.1)
  }
  40% {
    transform: perspective(1px) scale3d(.9, .9, .9)
  }
  60% {
    opacity: 1;
    transform: perspective(1px) scale3d(1.03, 1.03, 1.03)
  }
  80% {
    transform: perspective(1px) scale3d(.97, .97, .97)
  }
  to {
    opacity: 1;
    transform: perspective(1px) scaleX(1)
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9)
  }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1)
  }
  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0)
  }
  75% {
    transform: translate3d(0, -10px, 0)
  }
  90% {
    transform: translate3d(0, 5px, 0)
  }
  to {
    transform: none
  }
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0)
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0)
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0)
  }
}

.redux-toastr *, .redux-toastr :after, .redux-toastr :before {
  box-sizing: border-box
}

.redux-toastr .bottom-center, .redux-toastr .bottom-left, .redux-toastr .bottom-right, .redux-toastr .top-center, .redux-toastr .top-left, .redux-toastr .top-right {
  width: 350px;
  position: fixed;
  z-index: 99999999;
  padding: 0 10px
}

.redux-toastr .top-center, .redux-toastr .top-left, .redux-toastr .top-right {
  top: 0
}

.redux-toastr .bottom-right, .redux-toastr .top-right {
  right: 0
}

.redux-toastr .bottom-center, .redux-toastr .bottom-left, .redux-toastr .bottom-right {
  bottom: 0
}

.redux-toastr .bottom-left, .redux-toastr .top-left {
  left: 0
}

.redux-toastr .bottom-center, .redux-toastr .top-center {
  left: 50%;
  margin-left: -175px
}

@media (max-width: 320px) {
  .redux-toastr .bottom-center, .redux-toastr .bottom-left, .redux-toastr .bottom-right, .redux-toastr .top-center, .redux-toastr .top-left, .redux-toastr .top-right {
    width: 320px
  }

  .redux-toastr .bottom-center, .redux-toastr .top-center {
    margin-left: -160px
  }
}

html {
  font-size: calc(8px + .325vw)
}

body {
  background: #f5f4ef
}

body > svg {
  display: none
}

a {
  text-decoration: none
}

.jss1 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px
}

.jss5 {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 32px
}

.jss6 {
  margin-right: 56px
}

.jss7 {
  flex-grow: 1
}

.jss13 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 318px;
  z-index: -1;
  position: absolute;
  background-color: rgb(31, 156, 93)
}

.jss15 {
  color: rgb(255, 255, 255);
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.jss33 {
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between
}

.jss34 {
  padding: 16px 32px
}

.jss35 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.jss36 {
  margin-top: 16px
}

.jss37 {
  padding: 16px 32px
}

.jss38 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.jss39 {
  margin-top: 16px
}

.jss40 {
  padding: 16px 32px
}

.jss41 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.jss42 {
  margin-top: 16px
}

.jss43 {
  padding: 16px 32px
}

.jss44 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.jss45 {
  margin-top: 16px
}

.jss46 {
  padding: 16px 32px
}

.jss47 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.jss48 {
  margin-top: 16px
}

.jss51 {
  display: flex;
  align-items: center
}

.jss55 {
  margin-right: 16px
}

.jss59 {
  padding: 32px
}

.jss66 {
  display: block
}

.jss67 {
  margin-top: 40px
}

.jss71 {
  padding-top: 32px;
  padding-bottom: 32px
}

.jss73 {
  margin-left: 32px;
  margin-right: 32px
}

.jss74 {
  text-align: center;
  margin-bottom: 40px
}

.jss75 {
  display: flex;
  padding: 16px;
  align-items: center;
  flex-direction: column
}

.jss76 {
  margin: 12px
}

.jss82 {
  margin: 8px 32px 8px 8px;
  text-align: right
}

.jss85 {
  width: 132px;
  height: 132px;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: rgb(202, 3, 0)
}

.jss85a {
  width: 132px;
  height: 132px;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: rgb(148, 147, 141)
}

.jss86 {
  border: 2px solid white;
  border-radius: 50%
}

.jss88 {
  color: rgb(202, 3, 0);
  display: flex;
  margin-top: 8px;
  align-items: center
}

.jss94 {
  margin-top: 32px
}

.jss95 {
  margin-bottom: 12px
}

.jss98 {
  margin-top: 32px
}

.jss99 {
  margin-bottom: 12px
}

.jss100 {
  margin-bottom: 12px
}

.jss101 {
  margin-bottom: 12px
}

.jss102 {
  margin-top: 40px
}

.jss110 {
  margin-top: 40px
}

.jss111 {
  margin-top: 12px
}

.jss112 {
  margin-top: 40px
}

.jss113 {
  margin-top: 12px
}

.jss114 {
  margin-top: 40px
}

.jss115 {
  margin-top: 12px
}

.jss138 {
  display: flex;
  position: relative;
  padding-right: 0px
}

.jss139 {
  width: 50%;
  margin-top: 0px;
  padding-right: 8px
}

.jss140 {
  overflow: hidden
}

.jss141 {
  display: flex;
  min-height: 28px;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px
}

.jss142 {
  display: flex;
  margin-bottom: 8px
}

.jss143 {
  width: 100%
}

.jss144 {
  display: flex;
  justify-content: space-between
}

.jss146 {
  flex: 1 1 0%;
  display: flex;
  position: relative;
  margin-right: 0px;
  flex-direction: column
}

.jss147 {
  flex: 1 1 0%;
  display: flex
}

.jss148 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.jss149 {
  flex: 1 1 0%
}

.jss150 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.jss151 {
  flex: 1 1 0%
}

.jss152 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.jss153 {
  flex: 1 1 0%
}

.jss154 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.jss155 {
  flex: 1 1 0%
}

.jss156 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.jss157 {
  flex: 1 1 0%
}

.jss158 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.jss159 {
  flex: 1 1 0%
}

.jss160 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.jss161 {
  flex: 1 1 0%
}

.jss162 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.jss163 {
  flex: 1 1 0%
}

.jss166 {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  padding-left: 4px;
  margin-bottom: 8px;
  padding-right: 4px;
  background-color: rgba(33, 33, 33, 0.6);
  top: 28px;
  left: 0px;
  width: 224px;
  height: 22.4px
}

.jss167 {
  right: 0px;
  position: absolute;
  margin-top: 28px;
  margin-right: 12px
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box
}

.MuiGrid-wrap-xs-nowrap {
  flex-wrap: nowrap
}

.MuiGrid-justify-xs-center {
  justify-content: center
}

.MuiGrid-justify-xs-space-between {
  justify-content: space-between
}

.MuiGrid-grid-xs-3 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%
}

.MuiGrid-grid-xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%
}

@media (min-width: 839px) {
  .MuiGrid-grid-sm-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%
  }

  .MuiGrid-grid-sm-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%
  }
}

.MuiTypography-root {
  margin: 0
}

.MuiTypography-body1 {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: inherit;
  line-height: 1.4
}

.MuiTypography-h1 {
  font-size: 48px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1.4
}

.MuiTypography-h2 {
  font-size: 32px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1.4
}

.MuiTypography-h3 {
  font-size: 20px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 1.4
}

.MuiTypography-h5 {
  color: #94938D;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase
}

.MuiTypography-subtitle1 {
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 1.4
}

.MuiTypography-subtitle2 {
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.4
}

.MuiTypography-noWrap {
  overflow: hidden;
  white-space: nowrap
}

.MuiTypography-colorPrimary {
  color: #1F9C5D
}

.MuiTypography-colorTextSecondary {
  color: #54534A
}

.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none
}

@-moz-keyframes MuiTouchRipple-keyframes-enter {
  0% {
    opacity: 0.1;
    transform: scale(0)
  }
  100% {
    opacity: 0.3;
    transform: scale(1)
  }
}

@-moz-keyframes MuiTouchRipple-keyframes-exit {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-moz-keyframes MuiTouchRipple-keyframes-pulsate {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(0.92)
  }
  100% {
    transform: scale(1)
  }
}

.MuiButtonBase-root {
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -moz-user-select: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent
}

.MuiButtonBase-root::-moz-focus-inner {
  border-style: none
}

.MuiButton-root {
  cursor: pointer;
  height: 40px;
  margin: 4px;
  font-size: 12px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 999px;
  text-transform: uppercase
}

.MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(33, 33, 33, 0.04)
}

@media (hover: none) {
  .MuiButton-root:hover {
    background-color: transparent
  }
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit
}

.MuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
  border-width: 2px !important
}

.MuiButton-outlinedPrimary {
  color: #1F9C5D;
  border: 1px solid rgba(31, 156, 93, 0.5)
}

.MuiButton-outlinedPrimary:hover {
  border: 1px solid #1F9C5D;
  background-color: rgba(31, 156, 93, 0.04)
}

@media (hover: none) {
  .MuiButton-outlinedPrimary:hover {
    background-color: transparent
  }
}

.MuiButton-disableElevation {
  box-shadow: none
}

.MuiButton-disableElevation:hover {
  box-shadow: none
}

.MuiButton-disableElevation:active {
  box-shadow: none
}

.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent
}

.MuiPaper-root {
  color: #212121;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #FFFFFF
}

.MuiPaper-rounded {
  border-radius: 4px
}

.MuiPaper-elevation0 {
  box-shadow: none
}

.MuiPaper-elevation1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}

.MuiPaper-elevation16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12)
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -moz-user-select: none
}

.MuiSvgIcon-colorPrimary {
  color: #1F9C5D
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem
}

.jss9 {
  bottom: 0;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.jss10 {
  background-color: #1F9C5D
}

.MuiTabs-root {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch
}

.MuiTabs-flexContainer {
  display: flex
}

.MuiTabs-scroller {
  flex: 1 1 auto;
  display: inline-block;
  position: relative;
  white-space: nowrap
}

.MuiTabs-fixed {
  width: 100%;
  overflow-x: hidden
}

.MuiTabs-scrollable {
  overflow-x: scroll;
  scrollbar-width: none
}

.MuiTabs-scrollable::-webkit-scrollbar {
  display: none
}

.MuiTab-root {
  padding: 6px 12px;
  overflow: hidden;
  position: relative;
  max-width: 264px;
  min-width: 72px;
  box-sizing: border-box;
  text-align: center;
  flex-shrink: 0;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.75;
  white-space: normal;
  text-transform: uppercase
}

@media (min-width: 839px) {
  .MuiTab-root {
    min-width: 160px
  }
}

.MuiTab-textColorInherit {
  color: inherit;
  opacity: 0.7
}

.MuiTab-textColorInherit.Mui-selected {
  opacity: 1
}

.MuiTab-wrapped {
  font-size: 0.75rem;
  line-height: 1.5
}

.MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

.jss8 {
  max-height: 40px;
  min-height: 40px
}

.jss22 {
  color: #FFFFFF;
  border-color: #FFFFFF
}

.jss22:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: #31DC86
}

.jss23 {
  color: #CA0300
}

.jss23.MuiButton-outlined {
  border-color: #CA0300
}

.jss23.MuiButton-outlined:hover {
  color: #FFFFFF;
  opacity: 0.6;
  border-color: #CA0300;
  background-color: #CA0300
}

.jss24 {
  border-left: none !important;
  margin-left: 0;
  border-radius: 0 999px 999px 0
}

.MuiChip-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: default;
  height: 32px;
  display: inline-flex;
  outline: 0;
  padding: 0;
  font-size: 0.8125rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: Open Sans, sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none
}

.MuiChip-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  background-color: transparent
}

.MuiChip-label {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  text-overflow: ellipsis
}

.MuiDrawer-paper {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch
}

.MuiDrawer-paperAnchorRight {
  left: auto;
  right: 0
}

.MuiAvatar-root {
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: Open Sans, sans-serif;
  line-height: 1;
  border-radius: 50%;
  justify-content: center;
  -moz-user-select: none
}

.MuiAvatar-img {
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px
}

.jss54 {
  color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  background-color: rgb(189, 189, 186)
}

.jss87 {
  color: rgb(255, 255, 255);
  width: 128px;
  height: 128px;
  background-color: rgb(189, 189, 186)
}

.MuiLink-underlineNone {
  text-decoration: none
}

.jss145:hover {
  color: #31DC86
}

.jss145:active {
  color: #54534A
}

.jss91 {
  border-width: 2px;
  margin-right: 8px;
  margin-bottom: 8px
}

.jss92 {
  color: #212121;
  border-color: rgba(33, 33, 33, 0.4)
}

.MuiCollapse-container {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.MuiCollapse-entered {
  height: auto;
  overflow: visible
}

.MuiCollapse-wrapper {
  display: flex
}

.MuiCollapse-wrapperInner {
  width: 100%
}

.jss30 {
  margin-bottom: 16px
}

.jss31 {
  text-transform: capitalize
}

.jss32 {
  cursor: pointer;
  height: 64px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(33, 33, 33, 0.15);
  background-color: #FFFFFF
}

.jss32:hover {
  background-color: #F7F7F7
}

.MuiCard-root {
  overflow: hidden
}

.jss2 {
  color: #FFFFFF;
  letter-spacing: 3px
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

*, *::before, *::after {
  box-sizing: inherit
}

body {
  color: #212121;
  margin: 0;
  font-size: 0.875rem;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  background-color: #F7F7F7
}

a {
  color: #2854BE
}

a:hover {
  color: #31DC86
}

a:active {
  color: #54534A
}

.jss183 {
  background-color: #F7F7F7
}

.jss184 {
  height: unset;
  min-height: 100%
}

@media (max-width: 1022.95px) {
  .jss184 {
    width: 1365px;
    flex-shrink: 0
  }
}

@media (min-width: 839px) {
  .jss184 {
    width: 840px;
    flex-shrink: 0
  }
}

@media (min-width: 1023px) {
  .jss184 {
    width: 928px;
    flex-shrink: 0
  }
}

@media (min-width: 1319px) {
  .jss184 {
    width: 1254px;
    flex-shrink: 0
  }
}

.jss185 {
  text-align: center
}

.jss186 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.jss186 > * {
  margin: 2px
}

.jss188 > h5 {
  line-height: 28px
}

.jss188 > .grid {
  border-left: 1px solid rgba(33, 33, 33, 0.15)
}

.jss188.current > h5 {
  color: #212121
}

.jss192 {
  max-height: 88px
}

.jss193 {
  background-color: #F7F7F7
}

.jss194 {
  height: 4px
}

.jss195 .MuiTab-root {
  color: #94938D;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px
}

.jss195 button.Mui-selected {
  color: #1F9C5D
}

.jss195 .MuiTab-root:hover {
  color: #1F9C5D
}

.gbgfMs.gbgfMs:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer
}

.dXWCyY .MuiTabs-indicator {
  height: 4px;
  background-color: rgb(255, 255, 255)
}
